@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

input {
  padding: 20px 192px 20px 32px;
}

button {
  margin: 8px 8px 8px 0px;
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  float: right;
  transition: all 300ms ease;
}

button:hover {
  background-color: #4e11c9;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purple {
  color: #6415ff;
}

#landing {
  padding: 32px;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.nav__logo--link {
  display: flex;
  color: #243e63;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0 24px 0 0;
}

.nav__img {
  margin: 0 12px 0 0;
  max-width: 40px;
}

.nav__links {
  display: inline-block;
}

.nav__link {
  color: #243e63;
  font-size: 14px;
  font-weight: 700;
  margin: 0 24px;
  padding: 0 0 4px;
}

.nav__link--styled {
  margin: 0 24px 0 48px;
}

.nav__link--primary {
  color: #f7fafc;
  font-weight: 500;
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 32px;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  background-color: #4e11c9;
}

/*

HEADER

*/

.header__left {
  width: 40%;
}

.header__right {
  width: 60%;
}

.header__title {
  color: #1a202c;
  font-size: 48px;
  max-width: 533px;
  line-height: 1.25;
}

.header__para {
  color: #243e63;
  margin: 32px 0;
  font-size: 1.125rem;
  max-width: 533px;
}
.header__input--container {
  position: relative;
  max-width: 448px;
  background-color: #fff;
}

.header__input {
  max-width: 448px;
  font-weight: 500;
  font-size: 100%;
  opacity: 0.35;
  background-color: #fff;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(226, 232, 240);
  border-radius: 9999px;
  transition: all 300ms ease;
}

.header__input:hover {
  opacity: 1;
}

.header__button {
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 10rem;
  color: #f7fafc;
  font-weight: 700;
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 32px;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__customers {
  margin: 80px 0 0 0;
}

.header__para--customers {
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.header__left--customers--img {
  max-width: 533px;
  opacity: 0.5;
  margin: 16px 0 0;
  padding: 0 64px 0 0;
}

.header__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 154;
  padding: 96px 0;
}

/* 

FEATURES 

*/

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__text {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.6px;
  margin-bottom: 16px;
}

.features__h2 {
  font-weight: 900;
  font-size: 48px;
  color: rgb(36 62 99);
}

.features__para {
  font-size: 1.125rem;
  font-weight: 500;
  max-width: 36rem;
  text-align: center;
  margin-top: 1rem;
  line-height: 1.625;
  color: rgb(124 139 161);
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding: 32px 8px;
}

.imageContainer {
  flex-shrink: 0;
  width: 66px;
  height: 66px;
  border-width: 1px;
  padding: 1.25rem;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
  text-align: left;
}

.title {
  color: rgb(36 62 99);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.6px;
}

.description {
  color: rgb(124 139 161);
  margin: 16px 0 0;
  line-height: 2;
  font-weight: 500;
  text-align: left;
  max-width: 16rem;
}